@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>產後調養 坐月子系列</li>
</ul>

<div id="content">

	<h3>產後調養坐月子系列</h3>

	<ol>
		<li><em><a href="http://www.pcstore.com.tw/newspring/M14201424.htm" target="_blank">頂級月子藥膳套餐一</a>：</em>30天藥膳+月子茶飲1盒+熬煮式生化茶7天+月子沐浴包1盒</li>
		<li><em><a href="http://www.pcstore.com.tw/newspring/M11977935.htm" target="_blank">頂級月子藥膳30天</a>：</em>30天藥膳</li>
		<li><em><a href="http://www.pcstore.com.tw/newspring/M05019356.htm" target="_blank">月子沐浴包</a>：</em>月子沐浴包1盒 (7入)</li>
		<li><em><a href="http://www.pcstore.com.tw/newspring/M04845256.htm" target="_blank">哺乳媽媽月子茶</a>：</em>產後調養，哺乳媽媽月子茶飲1盒 (30入)</li>
		<li><em><a href="http://www.pcstore.com.tw/newspring/M04552862.htm" target="_blank">月子茶飲</a>：</em>產後補養，月子茶飲1盒 (30入)</li>
	</ol>
	
	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->