@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}


<ul class="breadCrumb">
    <li><a href="~/index">首頁</a></li>
    <li>網路商店</li>
</ul>

<div id="content">

    <h3>網路商店<span>Online shop</span></h3>

    <a href="https://shopee.tw/g961006" target="_blank"><img class="internetLogo" src="~/Content/images/shopee.png" /></a>
    <a href="http://m.pcstore.com.tw/newspring" target="_blank"><img class="internetLogo" src="~/Content/images/pchomePhone.jpg" /></a>
    <a href="https://www.newspringshop.com" target="_blank"><img class="internetLogo" src="~/Content/images/newspringshop.png" /></a>
    <a href="http://www.pcstore.com.tw/newspring/" target="_blank"><img class="internetLogo" src="~/Content/images/icon_pchome.gif" /></a>
    <a href="http://tw.user.bid.yahoo.com/tw/booth/Y1220220920" target="_blank"><img class="internetLogo" src="~/Content/images/icon_yahoo.gif" /></a>
    <a href="http://class.ruten.com.tw/user/index00.php?s=mazinger-x" target="_blank"><img class="internetLogo" src="~/Content/images/icon_lu.gif" /></a>
    <br>
    <br>
    <br>
    <a class="goTop" href="#header">Top</a>

</div><!-- content //-->