@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}


<ul class="breadCrumb">
    <li><a href="~/index">首頁</a></li>
    <li>網路商店</li>
</ul>

<div id="content">

    <h3>網路商店<span>Online shop</span></h3>

    <a href="http://m.pcstore.com.tw/newspring"><img class="internetLogo" src="~/Content/images/pchomePhone.png" /></a>
    <a href="http://www.pcstore.com.tw/newspring/"><img class="internetLogo" src="~/Content/images/icon_pchome.gif" /></a>
    <a href="http://tw.user.bid.yahoo.com/tw/booth/Y1220220920"><img class="internetLogo" src="~/Content/images/icon_yahoo.gif" /></a>
    <a href="https://shopee.tw/g961006"><img class="internetLogo" src="~/Content/images/蝦皮拍賣.png" /></a>
    <a href="http://class.ruten.com.tw/user/index00.php?s=mazinger-x"><img class="internetLogo" src="~/Content/images/icon_lu.gif" /></a>
    <br>
    <br>
    <br>
    <a class="goTop" href="#header">Top</a>

</div><!-- content //-->