@model List<ProcCore.Business.Logic.m_News>
@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/index.css">

	<script src="~/Scripts/slider/jquery.easing.1.3.js"></script>
	<!-- 圖片輪播效果 -->
	<script src="~/Scripts/slider/tms-0.3.js"></script>
	<script src="~/Scripts/slider/tms_presets.js"></script>
	<script>
	$(window).load(function(){
		$('.slider')._TMS({
			duration:800,
			easing:'easeOutQuad',
			preset:'diagonalFade',
			pagination:false,
			slideshow:6000,
			banners:false,
			waitBannerAnimation:false,
			pauseOnHover:true
		});
	});
	</script>
}

<div class="newPro">
	<h3>新產品介紹</h3>
	<ol>
		<li><a href="http://www.pcstore.com.tw/newspring/M11318379.htm" target="_blank"><img src="~/Content/images/index/pro1.jpg"></a></li>
		<li><a href="http://www.pcstore.com.tw/newspring/M01521687.htm" target="_blank"><img class="newImg" src="~/Content/images/index/pro2.png"></a></li>
		<li><a href="http://www.pcstore.com.tw/newspring/M08983827.htm" target="_blank"><img class="newImg" src="~/Content/images/index/pro3.png"></a></li>
		<li><a href="http://www.pcstore.com.tw/newspring/M11978401.htm" target="_blank"><img src="~/Content/images/index/pro4.jpg"></a></li>
	</ol>
	<a class="more" href="http://www.pcstore.com.tw/newspring/" target="_blank">more</a>
</div><!-- newPro //-->

<div class="news">
	<h3>最新公告</h3>
	<a class="more" href="~/News/News">more</a>
	<ul>
        @foreach(var item in Model){
		<li><a href="~/News/News"><em>@item.SetDate.ToString("yyyy/MM/dd")</em>@item.Title</a></li>
        }
	</ul>
</div><!-- news //-->