@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>企業公民責任</li>
</ul>

<div id="content">

	<h3>企業公民責任<span>Corporate Social Responsibility</span></h3>

	<p>新和春本草的企業公民責任是環境保護，我們積極使用中草藥為原物料製作產品，提供人們保持健康、產業提升、保護環境不受影響，讓我們擁有一個健康經濟平衡的環境。</p>
	
	<br>
	
	<h4>新和春本草日常營運活動的環保注意事項：</h4>
	<p>(1)   產品及包裝的使用，力求簡單，不過度包裝。</p>
	<p>(2)   在效能的平衡上，不浪類原物料的使用。</p>
	<p>(3)   物流包裝在安全穩固的前提下，盡量使用回收再利用的材質。</p>
	<p>(4)   產品設計在消費者使用上包含節省能源概念。</p>
	
	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->