@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>關於新和春本草</li>
</ul>

<div id="content">

    <h3>聯絡我們<span>Contact Us</span></h3>

    <p>公司電話：(02)2603-0580</p>
    <p>門市電話：(02)2603-3213</p>
    <p>訂購傳真：(02)8601-3625</p>
    <p>電子信箱：<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a></p>
    <p>地址：新北市林口區中正路49號</p>

    <br>
    <p>服務訂購諮詢回覆時間星期一~星期五：09:00-17:00 </p>
    <p>製作整理物流出貨時間星期一~星期五：09:00-16:00 </p>
    <p>星期六~星期日：公休</p>
    <br><br>
    <img class="lineIcon" src="~/Content/images/line.png" />
    <nobr class="lineName"><a href="https://line.me/R/ti/p/%40sbb4828i">@@newspring</a></nobr>
    <br>
    <img class="lineQR" src="~/Content/images/lineQR.png" />
    <br>
    <a class="goTop clear" href="#header">Top</a>

</div><!-- content //-->