@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>關於新和春本草</li>
</ul>

<div id="content">

	<h3>新和春本草的信用評價<span>Evaluating</span></h3>

	<ol>
		<li><a class="marks mark-yahoo" href="https://tw.bid.yahoo.com/rating/Y1220220920/listing" target="_blank">奇摩拍賣的新和春本草信用評價</a></li>
		<li><a class="marks mark-ruten" href="http://mybid.ruten.com.tw/credit/point?mazinger-x" target="_blank">露天拍賣的新和春本草信用評價</a></li>
		<li><a class="marks mark-pchome" href="http://www.pcstore.com.tw/newspring/HM/eval.htm" target="_blank">PChome的新和春本草信用評價</a></li>
		<li><a class="marks mark-shopee" href="https://shopee.tw/buyer/3596032/rating" target="_blank">蝦皮的新和春本草信用評價</a></li>
	</ol>


	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->