@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
    <li><a href="~/index">首頁</a></li>
    <li>關於新和春本草</li>
</ul>

<div id="content">

    <h3>關於新和春本草<span>About New Spring Herbal</span></h3>

    <h4>新和春本草企業&新和春中藥房120年的歷史及展望</h4>

    <p>新和春本草這個品牌，源自於負責人的高曾祖父，徐噯。他在桃園地區開設和春中藥房，行醫懸壺濟世，並在日據時代取得桃園地區第一張台灣人的中醫執照。為了傳承意念並開創新時代，而取名為新和春，讓源遠流長的漢方本草隨時間不斷創新及發展。</p>

    <ol class="info-list">
        <li>我們的使命：讓每個人都能健康的生活。</li>
        <li>我們的願景：致力於漢方本草研究及發展，建立最受歡迎信賴的品牌，成為全球頂尖卓越企業。</li>
        <li>我們的核心價值是：專業、熱情、堅持、創新</li>
    </ol>

    <p>源於千年的漢方本草價值，我們傳承超過120年累積的經驗，進行創新發展，打下未來永續傳承的基礎，建立最受歡迎信賴的品牌，成為全球頂尖卓越企業。</p>
    <p>中藥行業隨著時代改變，步入了嶄新的里程，必須變革滿足潮流。我們把中藥房格局放大，把藥櫃中的神祕解放，提供專業服務滿足大眾需求，讓漢方本草融入日常的生活。</p>
    <p>我們會貫徹理念，用專業提供安心使用，用熱情給予服務關懷，用堅持維 護品質制度，用創新持續成長改變，新和春本草讓每個人都能健康的生活。</p>

    <a class="goTop" href="#header">Top</a>

</div><!-- content //-->