@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>關於新和春草本</li>
</ul>

<div id="content">

	<h3>關於新和春本草<span>About New Spring Herbal</span></h3>

	<h4>新和春草本企業&新和春中藥房120年的歷史及展望</h4>

	<p>新和春本草這個品牌，源自於公司總經理的高曾祖父，徐噯。他在桃園地區開設和春中藥房，行醫懸壺濟世，並在日據時代取得桃園地區第一張台灣人的中醫執照。為了傳承意念，為了開創新時代，而取名為新和春，讓源遠流長的漢方本草隨著時間不斷的創新發展。</p>
	<p>我們的使命是: 讓每個人能健康的生活。新和春本草是個品牌也是個使命。</p>
	<p>我們的核心價值是: 專業、熱情、堅持、創新。千年的漢方本草價值，百年的先祖智慧傳承。120年以來經驗的累積，新時代的創新發展，我們即將要打下另一段百年傳承的基礎。</p>
	<p>我們的願景是: 致力於中草藥研究及發展，在全球中草藥生醫產業哩，成為最受歡迎信賴的頂尖卓越企業。中草藥的行業隨著時代的進步及改變，步入了嶄新的里程，滿足新時代的潮流變革。提供大眾所需求的服務導向才是未來的主流，把中藥房的格局放大，把藥櫃中的神祕完全解放，我們要讓漢方本草成為健康生活的基礎。</p>
	<p>我們會貫徹我們的理念，用專業讓客戶安心使用產品，用熱情給予可互關懷與服務，用制度自我要求堅持高品質，用目標持續不斷的創新成長，新和春本草藥讓每個人能健康的生活。<p>
	
	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->