@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>關於新和春本草</li>
</ul>

<div id="content">

	<h3>新和春本草的產品製作<span>Producing</span></h3>

	<ul>
		<li>(1)   自然-延續傳統的漢方觀念，不過度的加工，自然概念製程。</li>
		<li>(2)   安全-自創業以也沒進貨過，沒使用過任何人工食品添加劑。</li> 
		<li>(3)   衛生-臺灣在地生產，現代專業流程製造，非傳統手工裝填。</li>
	</ul>

	<h5>現代化流程：以沖泡式茶包為例:</h5>
	
	<div class="align-c"><img src="~/Content/images/AboutUs/pic.gif" alt="現代化流程"></div>

	
	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->