@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>大宗採購 & 客製產品</li>
</ul>

<div id="content">

	<h3>大宗採購&客製產品<span>Massive Purchase & Customization</span></h3>

	<p>來訊客服所需要之客製內容規格</p>
	<ul>
		<li>(1)  客服信箱：<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a></li>
		<li>(2)  LINE+好友搜尋：<a href="https://line.me/R/ti/p/%40sbb4828i" target="_blank" title="點我掃QRCode加好友">@@newspring</a></li>
		<li>(3)  電話聯絡：<a href="tel:886-2-2603-0580">+886(2)2603-0580</a>；<a href="tel:886-2-2603-3213">+886(2)2603-3213</a></li>
		<li>(4)  傳真服務：+886(2) 8601-3625</li>
	</ul>

	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->