@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
	<li>大宗採購 & 客製產品</li>
</ul>

<div id="content">

	<h3>大宗採購&客製產品<span>Massive Purchase & Customization</span></h3>

	<p>(1)   來信諮詢您所需要之客製內容規格<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a></p>
	<p>(2)   電話連繫專人服務：(02)2603-0580，(02)2603-3213</p>
	<p>(3)   傳真：(02) 8601-3625</p>
	
	<a class="goTop" href="#header">Top</a>

</div><!-- content //-->