@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
	<li><a href="~/index">首頁</a></li>
    <li>直購、跨國購物專區</li>
</ul>

<div id="content">

    <h3>直購、跨國購物專區<span>Shopping Section</span></h3>

    <h4>跨國訂購配送流程</h4>
    <h5>作業流程-信件訂購</h5>
    <ul>
        <li>(1)  信件或 Line 訊息至客服，訂購諮詢您所需要的產品<br>客服信箱：<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a><br>LINE+好友搜尋：<a href="https://line.me/R/ti/p/%40sbb4828i">@@newspring</a><br>列出你要的產品及收件資料 (住址/電話/姓名)</li>
        <li>(2)  確認總金額(含預估運費)，並約定出貨時間</li>
        <li>(3)  確認訂單會寄送線上帳單聯結讓您付費</li>
        <li>(4)  出貨2日前需付款成功</li>
        <li>(5)  約定日出貨 & 回覆給您相關物流查詢資料</li>
        <li>(6)  運費多退，少不用補</li>
    </ul>

    <h5>付款方式</h5>
    <ul>
        <li>(1)  信用卡付費 ─ 使用線上帳單聯結</li>
        <li>(2)  PAYPAL付費  ─  使用PAYPAL線上帳單</li>
        <li>(3)  現金轉帳  ─  提供台幣帳戶</li>
    </ul>

    <!--ul>
        <li>(1) 信件至客服諮詢訂購您所需要的產品<br>客服信箱：<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a><br>列出你要的產品及收件資料 (住址/電話/姓名)
        <li>(2) 客服回覆相關訂購約定事項、報價及預估運費，並約定出貨時間</li>
        <li>(3) 出貨前10天會寄送帳單讓您付費</li>
        <li>(4) 出貨2日前需付款成功</li>
        <li>(5) 約定日出貨 & 回覆給您相關物流查詢資料</li>
        <li>(6) 若有多付運費會在出貨後隔日退費並通知</li>
        <li>(7) 運費多退，少不用補</li>
    </ul>

    <h5>付款方式</h5>
    <ul class="ind">
        <li>(1) 使用信用卡付費─使用PAYPAL線上帳單</li>
        <li>(2) PAYPAL帳戶直接付費</li>
        <li>(3) 使用現金轉帳─提供台幣帳戶&人民幣帳戶</li>
    </ul-->

    <hr>

    <h4>臺灣在地直購流程</h4>
    <ul>
        <li>(1)  信件或 Line 訊息至客服，訂購諮詢您所需要的產品<br>客服信箱：<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a><br>LINE+好友搜尋：<a href="https://line.me/R/ti/p/%40sbb4828i">@@newspring</a><br>列出你要的產品及收件資料 (住址/電話/姓名)</li>
        <li>(2)  確認總金額(含預估運費)，訂單確定</li>
        <li>(3)  付費完成，即會出貨。</li>
        <li>(4)  購物滿900元即免運費</li>
    </ul>
    <h5>付款方式</h5>
    <ul>
        <li>(1)  信用卡付費 ─ 使用線上帳單聯結</li>
        <li>(2)  現金轉帳</li>
        <li>(3)  購物滿1200可貨到付款</li>
    </ul>
    <h5>臺灣在地亦可直接指至網路商店下單</h5>
    <ul>
        <li><h5>(1)  <a href="http://m.pcstore.com.tw/newspring">PChome Mobile </a></h5></li>
        <li><h5>(2)  <a href="http://www.pcstore.com.tw/newspring/">PChome商店街</a></h5></li>
        <li><h5>(3)  <a href="https://tw.bid.yahoo.com/tw/booth/Y1220220920">Yahoo奇摩拍賣</a></h5></li>
        <li><h5>(4)  <a href="https://shopee.tw/g961006">蝦皮拍賣</a></h5></li>
        <li><h5>(5)  <a href="http://class.ruten.com.tw/user/index00.php?s=mazinger-x">露天拍賣</a></h5></li>
    </ul>
    <!--h5>一、電話訂購</h5>
    <ul class="ind">
        <li>撥打電話02-26030580，直接跟客服訂購 </li>
    </ul>

    <h5>二、信件訂購</h5>
    <ul class="ind">
        <li>(1) 到我們的各賣場逛逛</li>
        <li>(2) 寄信給客服<a href="mailto:mazinger.boss@gmail.com">mazinger.boss@gmail.com</a>訂購<br>列出你要的產品及收件資料(住址/電話/姓名)</li>
        <li>(3) 客服回覆相關訂購約定事項、報價及運費<br>購買 900元以上免運費<br>購買 1,200元以上貨到付款免貨到付款手續費&免運費</li>
        <li>(4) 您確認回信 & 轉帳</li>
        <li>(5) 訂單成立，排入出貨流程</li>
    </ul>

    <h5>三、直接到PChome商店街-線上購物</h5>
    <ul class="ind gray">
        <li>若您習慣使用信用卡線上購物，或您購賣的產品無客製內容</li>
        <li>則直接到<a href="http://www.pcstore.com.tw/newspring/" target="_blank">PChome商店街-新和春本草線上購物</a></li>
        <li>PChome商店街購物，可以使用信用卡、超商付款或ATM轉帳</li>
    </ul-->

    <a class="goTop" href="#header">Top</a>

</div><!-- content //-->